# Copie este arquivo para .env e preencha com seus dados
DATABASE_URL="postgresql://neondb_owner:npg_FoUP2OqyDzB8@ep-frosty-boat-ainnxwr3-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_FoUP2OqyDzB8@ep-frosty-boat-ainnxwr3.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"