# Copie este arquivo para .env e preencha com seus dados
DATABASE_URL="postgresql://neondb_owner:npg_FoUP2OqyDzB8@host.neon.tech/dbname?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_FoUP2OqyDzB8@host-direct.neon.tech/dbname?sslmode=require&channel_binding=require"
