# Copie este arquivo para .env e preencha com seus dados
DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@host-direct.neon.tech/dbname?sslmode=require&channel_binding=require"
